{% extends 'base/base_form.html' %}
{%block title%}ACC - Colaborador{%endblock%}
{%block ficha_name%}FICHA DE SEGUIMIENTO DE CONSUMO DE DROGAS - ACC{%endblock%}
{%block form %}

<form method="POST" id="myForm" action="{{ url_for('seguimiento.actualizar') }}">
  <p>Su ayuda con los siguientes datos:</p>
  <div class="row g-3">
    <div class="col-md-6">
      <label for="Nombre" class="form-label">Nombre Completo</label>
      <input type="text" class="form-control" id="nombre" name="nombre"
        value="{{ form_data.get('Nombre', Nombre | default('')) }}" placeholder="Nombre Completo" required />
    </div>
    <div class="col-md-6">
      <label for="Cedula" class="form-label">N° Cédula</label>
      <input type="text" class="form-control" id="cedula" name="cedula" placeholder="N° Cédula" pattern="^\d{10}$"
        maxlength="10" value="{{ form_data.get('Cedula', Cedula | default('')) }}" required />
    </div>
    <div class="col-md-6">
      <label for="Fecha_actualizacion" class="form-label">Fecha de Actualización</label>
      <input type="date" class="form-control" id="Fecha_actualizacion" name="Fecha_actualizacion"
        value="{{ form_data.get('fecha', fecha | default('')) }}" required />
    </div>
    <div class="col-md-6">
      <label for="edad" class="form-label">Edad</label>
      <input type="number" class="form-control" id="edad" name="edad"
        value="{{ form_data.get('Edad', Edad | default('')) }}" required />
    </div>
    <div class="col-md-6">
      <label for="Cargo" class="form-label">Cargo</label>
      <input type="text" class="form-control" id="cargo" name="cargo"
        value="{{ form_data.get('Cargo', Cargo | default('')) }}" required />
    </div>
    <div class="col-md-6">
      <label for="Tiempo_cargo" class="form-label">Tiempo en el Cargo</label>
      <input type="text" class="form-control" id="tiempo_cargo" name="tiempo_cargo"
        value="{{ form_data.get('Tiempo_cargo', Tiempo_cargo | default('')) }}" required />
    </div>

    <div class="col-md-6">
      <label for="Droga" class="form-label">Principal Droga que Consume</label>
      <select class="form-select" id="droga" name="droga" required>
        <option value="" disabled>Seleccione</option>
        <option value="No consume" {% if form_data.get('Droga')=='No consume' %}selected{% endif %}>No Consume</option>
        <option value="Alcohol" {% if form_data.get('Droga')=='Alcohol' %}selected{% endif %}>Alcohol</option>
        <option value="Anfetaminas" {% if form_data.get('Droga')=='Anfetaminas' %}selected{% endif %}>Anfetaminas
        </option>
        <option value="Cigarrillo" {% if form_data.get('Droga')=='Cigarrillo' %}selected{% endif %}>Cigarrillo</option>
        <option value="Marihuana" {% if form_data.get('Droga')=='Marihuana' %}selected{% endif %}>Marihuana</option>
        <option value="Base de cocaina" {% if form_data.get('Droga')=='Base de cocaina' %}selected{% endif %}>Base de
          Cocaína</option>
        <option value="Heroina" {% if form_data.get('Droga')=='Heroina' %}selected{% endif %}>Heroína</option>
        <option value="Tabaco" {% if form_data.get('Droga')=='Tabaco' %}selected{% endif %}>Tabaco</option>
        <option value="Morfina" {% if form_data.get('Droga')=='Morfina' %}selected{% endif %}>Morfina</option>
        <option value="Hongos" {% if form_data.get('Droga')=='Hongos' %}selected{% endif %}>Hongos</option>
        <option value="Drogas de sintesis" {% if form_data.get('Droga')=='Drogas de sintesis' %}selected{% endif %}>
          Drogas de Síntesis</option>
        <option value="Inhalantes" {% if form_data.get('Droga')=='Inhalantes' %}selected{% endif %}>Inhalantes/Aerosoles
        </option>
        <option value="Pegamentos" {% if form_data.get('Droga')=='Pegamentos' %}selected{% endif %}>
          Pegamentos/Disolventes</option>
      </select>
    </div>

    <div class="col-md-6">
      <label for="Frecuencia_consumo" class="form-label">Frecuencia de Consumo</label>
      <select class="form-select" id="frecuencia_consumo" name="frecuencia_consumo" required>
        <option value="" disabled {% if form_data.get('Frecuencia_consumo') is none %}selected{% endif %}>Seleccione
        </option>
        <option value="No consume" {% if form_data.get('Frecuencia_consumo')=='No consume' %}selected{% endif %}>No
          Consume</option>
        <option value="5-7 dias" {% if form_data.get('Frecuencia_consumo')=='5-7 dias' %}selected{% endif %}>De 5 a 7
          días a la semana</option>
        <option value="2-4 veces" {% if form_data.get('Frecuencia_consumo')=='2-4 veces' %}selected{% endif %}>De 2 a 4
          veces a la semana</option>
        <option value="2-7 veces" {% if form_data.get('Frecuencia_consumo')=='2-7 veces' %}selected{% endif %}>De 2 a 7
          veces a la semana</option>
        <option value="1 vez po semana" {% if form_data.get('Frecuencia_consumo')=='1 vez po semana' %}selected{% endif
          %}>Al menos una vez a la semana</option>
        <option value="2-12 veces Año" {% if form_data.get('Frecuencia_consumo')=='2-12 veces Año' %}selected{% endif
          %}>De 2 a 12 veces al año</option>
        <option value="1 vez al Año" {% if form_data.get('Frecuencia_consumo')=='1 vez al Año' %}selected{% endif %}>Una
          vez al año</option>
      </select>
    </div>
<div class="row g-2">
  <div class="col-md-12">
    <label for="Fact_psico_sociales" class="form-label">Factores Psico-sociales relacionados al consumo</label>
    <div>
      <select class="form-select" id="fact_psico_sociales" name="fact_psico_sociales" required onchange="toggleDetalles()">
        <option value="No" {% if form_data.get('Fact_psico_sociales') == 'No' %}selected{% endif %}>No aplica</option>
        <option value="Si" {% if form_data.get('Fact_psico_sociales') == 'Si' %}selected{% endif %}>Otro</option>
      </select>
    </div>
  </div>
</div>

<div class="col-md-12" id="factoresPsicosocialesDetalleContainer"
     style="display: {% if form_data.get('Fact_psico_sociales') == 'Si' %}block{% else %}none{% endif %};">
  <label for="Fact_psico_sociales_detalle" class="form-label">Detalles - Factores Psico-sociales</label>
  <textarea class="form-control" id="fact_psico_sociales_detalle" name="fact_psico_sociales_detalle" rows="2">{{ form_data.get('Fact_psico_sociales_detalle', '') }}</textarea>
</div>

<script>
  function toggleDetalles() {
    const select = document.getElementById('fact_psico_sociales');
    const detallesContainer = document.getElementById('factoresPsicosocialesDetalleContainer');

    if (select.value === 'Si') {
      detallesContainer.style.display = 'block';
    } else {
      detallesContainer.style.display = 'none';
      // No borrar el contenido del textarea para mantenerlo
    }
  }

  window.addEventListener('DOMContentLoaded', (event) => {
    toggleDetalles();
  });
</script>

  <div class="col-md-12">
    <label class="form-label">Enfermedades Preexistentes</label>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="X" id="Enfer_catastrofica" name="enfer_catastrofica" {% if
        form_data.get('Enfer_catastrofica')=='X' %}checked{% endif %} />
      <label class="form-check-label" for="Enfer_catastrofica">Catastrófica</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="X" id="Enfer_cron_transmi" name="enfer_cron_transmi" {% if
        form_data.get('Enfer_cron_transmi')=='X' %}checked{% endif %} />
      <label class="form-check-label" for="Enfer_cron_transmi">Crónica Transmisible</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="X" {% if form_data.get('Enfer_cron_notransmi')=='X'
        %}checked{% endif %} id="Enfer_cron_notransmi" name="Enfer_cron_notransmi" />
      <label class="form-check-label" for="Enfer_cron_notransmi">Crónica No Transmisible</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="X" id="Enfer_nodiagnosticada" name="enfer_nodiagnosticada"
        {% if form_data.get('Enfer_nodiagnosticada')=='X' %}checked{% endif %} />
      <label class="form-check-label" for="Enfer_nodiagnosticada">No Diagnosticada</label>
    </div>
  </div>


  <div class="col-md-12">
    <label class="form-label">
      El personal ha recibido la sociabilización, sensibilización,
      capacitación, charlas sobre la ley orgánica para la regulación y
      control del tabaco y su reglamento
    </label>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="socializacion_personal" id="socializacionSi" value="Si"
        {% if form_data.get('Socializacion_personal') in ['Si', 'X'] %}checked{% endif %} />
      <label class="form-check-label" for="socializacionSi">Sí</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="socializacion_personal" id="socializacionNo" value="No"
        {% if form_data.get('Socializacion_personal') == 'No' %}checked{% endif %} />
      <label class="form-check-label" for="socializacionNo">No</label>
    </div>

  </div>
  <div class="col-md-12">
    <div class="signature-pad" id="signature-pad">
      <label class="form-label">Firma:</label>
      <canvas id="signature-canvas"></canvas>
      <div class="btn-group">
        <button type="button" id="clear-signature" class="btn btn-secondary">
          Limpiar
        </button>
        <button type="button" id="save-signature" class="btn btn-primary">
          Guardar
        </button>
      </div>
    </div>

    <input type="hidden" id="firma_colaborador" name="firma_colaborador" />
  </div>
  <button type="submit" class="btn btn-primary mt-4 w-100">Enviar</button>




  <script>
    window.onload = function () {
      var canvas = document.getElementById('signature-canvas');
      var context = canvas.getContext('2d');
      var signaturePad = new SignaturePad(canvas);

      // Redimensiona el canvas según la ventana
      function resizeCanvas() {
        var ratio = Math.max(window.devicePixelRatio || 1, 1);
        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        context.scale(ratio, ratio);
      }

      // Ajustar tamaño del canvas al cargar la página
      window.onresize = resizeCanvas;
      resizeCanvas();

      // Función para centrar y escalar la imagen en el canvas
      function drawCenteredImage(image) {
        var canvasAspect = canvas.width / canvas.height;
        var imageAspect = image.width / image.height;
        var renderableWidth, renderableHeight, xStart, yStart;

        // Ajustar el tamaño de la imagen para que encaje en el canvas
        if (imageAspect < canvasAspect) {
          // La imagen es más alta que el canvas, ajustar el ancho
          renderableHeight = canvas.height;
          renderableWidth = image.width * (canvas.height / image.height);
          xStart = (canvas.width - renderableWidth) / 2;
          yStart = 0;
        } else {
          // La imagen es más ancha que el canvas, ajustar la altura
          renderableWidth = canvas.width;
          renderableHeight = image.height * (canvas.width / image.width);
          xStart = 0;
          yStart = (canvas.height - renderableHeight) / 2;
        }

        // Dibujar la imagen centrada
        context.clearRect(0, 0, canvas.width, canvas.height); // Limpiar el canvas antes de dibujar
        context.drawImage(image, xStart, yStart, renderableWidth, renderableHeight);
      }

      // Cargar la firma guardada si existe y centrarla
      var base64FirmaGuardada = "{{ form_data.get('firma_colaborador', firma_colaborador | default('')) }}";
      if (base64FirmaGuardada) {
        var image = new Image();
        image.src = base64FirmaGuardada;
        image.onload = function () {
          drawCenteredImage(image); // Llamar a la función para dibujar la imagen centrada
        };
      }

      // Limpiar firma
      document.getElementById('clear-signature').addEventListener('click', function () {
        signaturePad.clear();
      });

      // Guardar firma
      document.getElementById('save-signature').addEventListener('click', function (event) {
        event.preventDefault(); // Prevenir comportamiento por defecto

        if (signaturePad.isEmpty()) {
          alert("Por favor, realiza una firma.");
        } else {
          var dataURL = signaturePad.toDataURL('image/png');
          document.getElementById('firma_colaborador').value = dataURL; // Guardar en el campo oculto
          alert("Firma guardada");
        }
      });
    };
  </script>

  {%endblock%}